.hero-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.hero img {
    width: 100%;
    display: block;
    height: auto;
}

.action-call {
    position: absolute;
    bottom: 5px;
    right: 20px;
    background-color: var(--white);
    color: var(--color-1);
    border: var(--white) 2px solid;
    border-radius: 2px;
    display: block;
    padding: 0.25rem;
    font-size: 0.92rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.events,
.weather,
.forecast,
.spotlight-card {
    margin: 0.9rem;
}

.events ul li {
    list-style-type: none;
}

h2 {
    background-color: var(--color-1);
    color: var(--white);
    text-align: center;
    padding: 0.25rem;
}

.event-data,
.weather-data,
.forecast-data,
.spotlight-card-data {
    padding-top: 0.25rem;
    background-color: #ddd;
}

.event-data li,
.forecast-data p,
.weather-data p {
    padding: 0.50rem;
}

.weather-data {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    align-items: center;
}

.weather-icon {
    grid-column: 1;
}

#temperature,
#description {
    grid-column: 2;
}

.spotlight-card-data {
    display: grid;
    grid-template-columns: 0.65fr 1.35fr;
    align-items: center;
    justify-items: center;
}

.spotlight-card-data img {
    grid-column: 1;
    width: 75px;
    height: auto;
}

.spotlight-card-data div {
    grid-column: 2;
    padding: 0.25rem;
    font-size: 0.95rem;
}

/* large view navigation ************************************/
@media only screen and (min-width: 40rem) {
    .hero img {
        margin-bottom: 0.80rem;
    }

    .action-call {
        bottom: 30px;
        border: 2px;
        padding: 0.60rem;
        font-size: 1.25rem;
    }

    .info-container {
        display: flex;
        flex-wrap: wrap;
    }

    .events {
        flex: 2;
        min-width: 35rem;
    }

    .weather,
    .forecast {
        flex: 1;
        min-width: 17rem;
    }

    .weather-data, .event-data, .forecast-data {
        height: 90%;
    }

    .spotlight {
        margin: 0.50rem 0 0.50rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .spotlight-card-data {
        flex: 2;
        min-width: 1rem;
        height: 6.5rem;
    }
}

/*****************************************************/