:root {
    --heading-font: "Roboto Mono", monospace;
    --paragraph-font: "Roboto", sans-serif;

    --primary-color: #7B287D;
    --secondary-color: #D8B4E2;
    --accentuation-1: #0e3f60;
    --accentuation-2: #F9C784;
    --white: #FFF;
    --black: #0A100D;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--heading-font);
    box-sizing: border-box;
    word-break: break-word;
    overflow-wrap: anywhere;
}

body {
    background-color: var(--white);
    color: var(--black);
}

a,
p,
li,
span,
legend,
label,
input {
    font-family: var(--paragraph-font);
    color: var(--black);
}

h1 {
    margin: 0 0.90rem 1.35rem 0.90rem;
    font-size: x-large;
}

main h2 {
    font-size: large;
}

.bold {
    font-weight: bold;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 0.6rem 0 0.6rem 0.9rem;
    align-items: end;
    column-gap: 8px;
    border-bottom: #ddd 1.5px solid;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.1rem;
    color: var(--black);
}

/* Hamburger */
.hamburger {
    background: none;
    border: none;
    color: var(--black);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/* Navigation */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
    background-color: var(--white);
}

.navigation ul {
    list-style-type: none;
}

.navigation a {
    display: block;
    padding: 0.8rem 0.9rem;
    color: var(--black);
    text-decoration: none;
    border-bottom: #ddd 1.5px solid;
}

.navigation li.current {
    background-color: var(--primary-color);
}

.navigation li.current a {
    color: var(--white);
}

.navigation a:hover,
.navigation li.current a:hover {
    background-color: var(--accentuation-1);
    color: var(--white);
}

/* Main layout */
main {
    width: 92%;
    max-width: 1000px;
    margin: 0.90rem auto;
}

/* Footer */
footer {
    background-color: var(--black);
    padding: 0.90rem;
    color: var(--white);
    align-items: center;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 0.80rem;
    margin-bottom: 0.90rem;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border: #ccc 1px solid;
    border-radius: 33px;
}

.social img {
    width: 33px;
    height: 33px;
}

.project-info p,
footer span {
    font-family: var(--paragraph-font);
    font-size: 0.95rem;
    color: var(--white);
}

