main {
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.25fr auto auto;
}

h1 {
    grid-column: 1 / -1;
    margin-bottom: 0;
}

h2 {
    text-align: center;
}

section {
    margin: 0 0.9rem;
}

h2 {
    padding: 0.25rem;
    background-color: var(--color-1);
    color: var(--white);
}

.luisphoto {
    display: block;
    width: 80%;
    height: auto;
    margin: 1rem auto;
}

.about-me,
.student-photo,
.certificate-courses {
    background-color: #dbdbdb
}

.about-me p {
    font-family: var(--paragraph-font);
    padding: 1rem 0.9rem 0 0.9rem;
}

.certificate-courses {
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}

.filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    list-style-type: none;
    align-items: center;
    justify-items: center;
    padding: 0.8rem 0.9rem;
}

.filter button {
    background: var(--black);
    border: var(--black) 2px solid;
    border-radius: 10px;
    width: 100%;
    padding: 0.25rem;
    color: var(--white);
    font-size: 1.2rem;
    cursor: pointer;
}

.filter button:hover {
    background-color: #444;
    border: #444 2px solid;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    padding: 0.8rem 0.9rem;
}

.list p {
    display: block;
    width: 100%;
    padding: 0.45rem;
    text-align: center;
    font-family: var(--paragraph-font);
    background-color: var(--color-2);
    color: var(--white);
}

.list p[class="course completed"] {
    background-color: var(--color-1);
}