@media only screen and (min-width: 40rem) {
    main {
        display: grid;
        gap: 1.10rem;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 0.25fr auto auto;
    }

    h1 {
        grid-column: 1 / -1;
        margin-bottom: 0;
    }

    .certificate-courses {
        grid-column: 1 / -1;
        margin-bottom: 2rem;
    }

    .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        column-gap: 1rem;
    }
}