section {
    margin: 0 0.9rem;
}

h2 {
    padding: 0.25rem;
    background-color: var(--color-1);
    color: var(--white);
    text-align: center;
}

.luisphoto {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 250px;
}

.about-me,
.student-photo,
.certificate-courses {
    background-color: #dbdbdb;
    margin-bottom: 0.90rem;
}

.about-me p {
    font-family: var(--paragraph-font);
    padding: 1rem 0.9rem;
}

.filter button {
    background: var(--black);
    border: var(--black) 1px solid;
    border-radius: 10px;
    width: 100%;
    padding: 0.25rem;
    color: var(--white);
    font-family: var(--paragraph-font);
    font-size: medium;
    cursor: pointer;
}

.filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    list-style-type: none;
    align-items: center;
    justify-items: center;
    padding: 0.8rem 0.9rem;
}

.filter button:hover {
    background-color: #444;
    border: var(--black) 1px solid;
}

.list {
    padding: 0.8rem 0.9rem 0.01rem 0.9rem;
}

.list p {
    display: block;
    width: 100%;
    padding: 0.45rem;
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: medium;
    background-color: var(--color-2);
    color: var(--white);
    border: var(--black) 3px solid;
    margin-bottom: 0.9rem;
}

.list p[class="course completed"] {
    background-color: var(--color-1);
}

h1 {
    margin-bottom: 0.45rem;
}

.list p[class="credits"] {
    font-size: small;
    margin-bottom: 1rem;
    background-color: #dbdbdb;
    color: var(--black);
    border: none;
    text-align: center;
}